@import '../../variable.scss';

.tomato-container {
  background-color: $color-white;
  margin-bottom: -30px;
}

.tomato {
  background: $color-red;
  background: radial-gradient(circle, $color-red 60%, $color-dark-red 100%);
  border-radius: 50%;
  box-shadow: -8px 12px 12px -8px rgba(0,0,0,.2);
  display: flex;

  margin: 0 auto;
  padding-left: 26px;

  justify-content: center;
  align-items: center;
  
  position: relative;

  transition: transform .2s ease-in-out;
  transition-delay: .2s;

  height: 85px;
  width: 90px;

  z-index: 3;

  .green {
    background-color: $color-green;
    content: '';
    height: 20px;
    left: 30px;
    position: absolute;
    top: -10px;
    transform: rotate(-30deg);
    width: 6px;
  }

  .face-container {
    position: relative;
  }

  .eye {
    background-color: $color-black;
    border-radius: 50%;
    display: inline-block;
    height: 6px;
    margin: 12px 6px 0 6px;
    width: 6px;
  }

  .smile {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    margin: 14px auto 0 auto;
    width: 20px;
    height: 6px;
    overflow: hidden;

    &::before {
      display: block;
      background-color: transparent;
      border: 2px solid $color-black;
      border-radius: 50%;
      box-sizing: border-box;
      content: '';
      height: 200%;
      width: 100%;
    }
  }

  .glasses {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    left: -25%;
    opacity: 0;
    position: absolute;
    transform: translateX(100px);
    top: 0px;
    transition: opacity .2s ease-in-out;
    transition: transform .2s ease-in-out;
    width: 150%;

    .cristal {
      border: 2px solid $color-black;
      border-radius: 50%;
      box-shadow: -1px -1px 2px 0px rgba(0,0,0,.2);
      display: inline-block;
      height: 26px;
      width: 26px;
    }
  }

  .sunglasses {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    left: -25%;
    opacity: 0;
    position: absolute;
    transform: translateX(-100px);
    top: 0px;
    transition: opacity .2s ease-in-out;
    transition: transform .2s ease-in-out;
    width: 150%;

    .cristal {
      background-color: $color-black;
      border-radius: 50%;
      box-shadow: -1px 1px 2px 0px rgba(0,0,0,.2);
      display: inline-block;
      height: 26px;
      width: 26px;
    }
  }
}


.App.Session {
  .tomato {
    transform: rotate(8deg);  
  }

  .glasses {
    opacity: 1;
    transform: translateX(0px);
  }
}
.App.Break {
  .tomato {
    transform: rotate(-8deg);  
  }

  .sunglasses {
    opacity: 1;
    transform: translateX(0px);
  }
}