/* Breakpoints */
$small: '768px';
$medium: '992px';
$large: '1200px';

/* Colors */
$color-break: #70AC0E;
$color-session: #2E77AB;

$gradient-break: linear-gradient(2deg, #5e910c 0%, #70AC0E 100%);
$gradient-session: linear-gradient(2deg, #276591 0%, #2E77AB 100%);

$color-white: #fbfbfb;
$color-black: #333333;

$color-red: #F3000F;
$color-dark-red: #800009;
$color-green: #4e780a;